# IDE Stuff
.settings
.idea
.idea_modules
.project
.classpath
.vscode
*.iml
*.paw

# Build Stuff
build
target
node_modules
dist
/test/**/*.js
/test/**/*.js.map
/src/**/*.js
/src/**/*.js.map
/lib


# Runtime Stuff
.env
log
logs
*.log

# Backup Stuff
*~

# OS Stuff
.DS_Store
.tmp/

# Security Stuff
*.pem
